.slider-road__arrows {  
  position: absolute;
  list-style-type: none;  
  margin: 0;
  padding: 0;
  left: 0;
  bottom: 50px;
  min-width: 100%;  
}

@media (max-width:768px){
  .slider-road__arrows {    
    
  }
}
