.road__button {
  padding: 0;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #EBEBEB;
  background-image: url(../../images/arrow-left.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}
