@media screen and (min-width:616px){
  .header__burger-open {
    display: none;
  }
}

@media screen and (max-width:615px){
  .header__burger-open {
  position: relative;
  width: 22px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__burger-open::before {
  content: '';
  width: 22px;
  height: 4px;
  background-color: #151515;
}

.header__burger-open::after {
  content: '';
  width: 22px;
  height: 4px;
  background-color: #151515;
}

@media screen and (max-width:615px){
  .header:target .header__burger-open {
    display: none;
  }
}
}
