.intro-quote {
  display: flex;
  padding: 121px 0 60px 0;
  column-gap: 80px;
}

@media (max-width:1024px){
  .intro-quote {
    column-gap: 30px;
  }
}

@media (max-width:768px){
  .intro-quote {
    column-gap: 30px;
    flex-direction: column;
    border-bottom: 1px solid #E3E3E3;
  }
}

@media (max-width:615px){
  .intro-quote {
    padding-top: 20px;
    padding-bottom: 75px;
  }
}
