.lead {
  box-sizing: border-box;
  padding: 97px 0 0 calc(120 / 1440 *100%);
  display: grid;
  gap: 0 calc(160 / 1200 *100%);
  grid-template-columns: 1fr calc(610 / 1320 *100%);
  grid-template-rows: min-content min-content min-content min-content;

  grid-template-areas:
  'heading image'
  'subtitle image'
  'button image'
  'stamp image'
  '. image';
}

@media(max-width:767px){
  .lead {
    display: block;
    padding: 117px 18px 40px;
  }
}


