.intro__quote {
  margin: 0;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 44px;
  letter-spacing: -0.5px;
  color: #151515;
}

@media (max-width:767px){

  .intro__quote {
    font-size: 23px;
    line-height: 29px;
  }

}
