.header__link {
  color: #151515;
  text-decoration: none;
  transition: color 0.7s ease 0s;
}

@media (max-width:615px){
  .header__link:active,  .header__link:hover {
    transition: color 0.7s ease 0s;
    color: #fff;
    -webkit-tap-highlight-color: transparent;
  }
}
