.lead__button {
  grid-area: button;
  width: 180px;
  min-height: 50px;
  background: #24B47E;
  border-radius: 4px;
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  margin-bottom: 167px;
}


@media (max-width:767px){
  .lead__button {
    font-size: 13px;
    width: 100%;
    margin-bottom: 0;
  }
}


