.slider-road__paragraph {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: #222222;
  opacity: 0.7;
  max-width: 470px;
  margin: 0;
  padding: 48px 0 0 0;
}

@media (max-width:768px){
  .slider-road__paragraph {
    grid-area: paragraph;
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (768 - 320)));
    padding-top: 33px;
  }
}
