.lead__image {
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  grid-area: image;
  max-height: 836px;
}

@media (max-width:767px){

  .lead__image {
    margin-bottom: 40px;
    max-height: 348px;
  }

}
