.lead__subtitle {
  grid-area: subtitle;
  margin: 0;
  padding: 46px 0 52px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  max-width: 460px;
  color: #222222;
  opacity: 0.7;
}

@media(max-width:1024px){
  .lead__subtitle {
    font-size: 15px;
  }
}

@media (max-width:768px){
  .lead__subtitle {
    font-size: calc(12px + (18 - 12) * ((100vw - 320px) / (768 - 320)));
    padding-top: 40px;
    padding-bottom: 37px;
    max-width: 100%;
  }
}


