.lead__stamp {
  position: relative;
  grid-area: stamp;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  min-height: 18px;
  display: inline-block;
  margin: 0;
}

.lead__stamp:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 226px;
  transform: translateY(-50%);
  background: #D7D4D4;
  width: 132px;
  height: 2px;
}


@media (max-width:767px){

  .lead__stamp {
    display: none;

  }
}

