.slider-road {
  position: relative;
  padding: 62px 0 160px 0;
  overflow: hidden;
}

@media (max-width:768px){
  .slider-road {
    padding-top: 42px;
    padding-bottom: 80px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'title'
    'slider'
    'paragraph';
    border-bottom: 1px solid #E3E3E3;
  }
}
