.training__image {
  grid-area: img;
  width: 100%;
  max-width: 100%;
  object-fit: cover;
  max-height: 460px;

}

@media screen and (max-width: 767px) {

  .training__image {
    margin-bottom: 40px;
  }

}
