.intro-quote__extraction {
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 1.29;
  letter-spacing: -0.5px;
  max-width: 450px;
  margin: 0;
}

@media (max-width:768px){
  .intro-quote__extraction {
    font-size: calc(23px + (34 - 23) * ((100vw - 320px) / (768 - 320)));
  }
}

