@media screen and (max-width:615px){
	.header__menu-body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 70%;
    background-color: rgb(118, 139, 165);
    margin-top: 70px;
    transition: left .7s ease;
}
}

@media screen and (max-width:615px){
  .header:target .header__menu-body {
    left: 0;
    border-radius: 4%;
  }
}

@media (max-width:425px){
  .header__menu-body {
    height: 100%;
  }
}




